<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
        .thick-check-mark {
            width: 19px;
            height: 33px;
            border: 10px solid #333;
            border-left: 0;
            border-top: 0;

            transform: rotate(45deg);
        }
    </style>
</head>
<body>

<div class="thick-check-mark">
    <!--<input id="seat88" type="checkbox" name="seat88" th:checked="*{seat88}" th:action="${input}"/>
    <label for="seat88">
        <div class="tick_mark"></div>
    </label>-->
</div>
<!--
    https://www.scribd.com/document/383888305/Movie-Ticket-Booking-System
    https://vertabelo.com/blog/a-database-model-for-a-movie-theater-reservation-system/
    https://vertabelo.com/blog/auto-generate-primary-key-values/
    https://code-boxx.com/seat-reservation-php-mysql/

    for dbms
    -->
</body>
</html>